<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rental Ease</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen bg-[ #F1F1F2]">
    <!-- Navbar -->
    <nav class="bg-[#2E5266FF] p-10 ">
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-xl font-semibold">Rental Ease</div>
        
        <ul class="flex space-x-6">
          <li>
            <a href="{% url "home"%}" class="text-white hover:text-gray-300">Home</a>
          </li>
          <li>
            <a href="/add" class="text-white hover:text-gray-300">Add rent</a>
          </li>
          <li>
            <a href="/bookings" class="text-white hover:text-gray-300"
              >Booking list</a
            >
          </li>
          
          <li>
            <a  class="text-white hover:text-gray-300"
              >{{request.user}}</a
            >
          </li>
          <li>
            <a href="/contact" class="text-white hover:text-gray-300"
              >Contact</a
            >
          </li>
          {%if request.user.is_superuser%}
            
          <a href="/manageproperty" class="text-white hover:text-gray-300"
          >Admin Dashboard</a>
          {%else%}
          <a href="seller_dashboard/" class="text-white hover:text-gray-300"
          >Seller Dashboard</a>
        {%endif%}
        
          
      </li>
          {% if user.is.not_authenticated %}
          <li>
            <a href="/login/" class="text-white hover:text-gray-300">Login</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'logout' %}" class="text-white hover:text-gray-300"
              >Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
      
    </nav>

    <!-- Main Content -->
    <div class="flex-grow  bg-[#D3D0CBFF] ">
      {% block content %}
      <!-- Child content will go here -->
      {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-[#011936FF] text-white text-center p-5 w-full">
      <p>Email: rentalease7898@gmail.com</p>
      <p>Contact No: 9800553333</p>
      <p>Contact No: 9878945632</p>
  
      <div class="flex justify-center space-x-5 my-4">
          <a href="https://www.instagram.com/" class="text-blue-400 hover:underline">Instagram</a>
          <a href="https://www.tiktok.com/" class="text-pink-400 hover:underline">Tiktok</a>
      </div>
  
      <p class="text-sm mt-4">&copy; 2024 Your Company. All rights reserved.</p>
  </footer>
  
  </body>
</html>
